@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;700&display=swap');

/* Custom Stylesheet  */
.App{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

.bold{
  font-weight: 600 !important;
}

.bolder{
  font-weight: 700 !important;
}

.light{
  font-weight: 300 !important;
}

.lighter{
  font-weight: 200 !important;
}

.bg-blue{
  background-color: #1B89FA !important;
}

.bg-black{
  background-color: #050B1C !important;
}

.text-blue{
  color: #1B89FA !important;
}

.text-black{
  color: #1f1f1f !important;
}

.text-dark-blue{
  color: #050B1C !important;
}


.center-content{
  margin: auto !important;
}
@media (max-width: 800px) {
  .width-full{
    width: 80% !important;
  }
}


/* Header Component Custom Style */
.start_btn{
  text-transform: none !important;
  font-weight: 500 !important;
  border-radius: 12px !important;
  background-color: #1B89FA !important;
  color: #fff !important
}
.start_btn:hover{
  text-transform: none !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
  background-color: #fff !important;
  color: #1B89FA !important;
  border: 1px #1B89FA solid !important;
}

.login_btn{
  background: none !important;
  color: #1B89FA !important;
  font-weight: 500 !important;
  text-transform: none !important;
  border: 1px solid #fff !important;
}
.login_btn:hover{
  text-transform: none !important;
  border: 1px #1B89FA solid !important;
  border-radius: 12px !important;
}

ul li a:hover{
  background: none !important;
}

.logo{
  max-width: 15% !important;
  color: #1f1f1f !important;
  margin-top: 14px !important;
}
.site-logo-sm .logo {
  max-width: 20% !important;
  margin-top: 12px !important;
  color: #1f1f1f !important;
}
.site-logo a{
  color: #1f1f1f !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  font-family: monospace !important;
}
.site-logo-sm a{
  color: #1f1f1f !important;
  font-weight: 600 !important;
  font-size: 23px !important;
  font-family: monospace !important;
}
img.logo{
  float: left !important;
}

.panel_btn:hover{
  border: none !important;
  font-weight: 550 !important;
  text-decoration: overline !important;
}

/*End Of Header Component Custom Style */




/* Footer Component Custom Style  */
.footer-logo{
  margin-top: -10px !important;
  max-width: 15% !important;
  color: #1f1f1f !important;
}

img.footer-logo{
  float: left !important;
}

.footer-icon{
    color: #1f1f1f;
    padding-left: 1.3rem;
    font-size: 1.6rem;
}
.footer-icon:hover{
  color: #1B89FA;
}

/* Sign In Component */

/* .signinpage {
  overflow: none !important;
  overflow-y: hidden !important;
}

.image-section {
  background-image: url('https://source.unsplash.com/1920x1080/?nature');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.form-section {
  padding: 50px;
} */

.login_container {
  display: flex;
  height: 100vh;
}

.login_image {
  flex: 1;
  background-image: url('https://source.unsplash.com/1920x1080/?mountains');
  background-size: cover;
  background-position: center;
  opacity: 0.8; 
  background-color: #1b8afa33;
}

.login_form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f1f1f1; */
  /* width: 80% !important; */
}

.login_form {
  width: 350px;
  /* width: 100% !important; */
  /* padding: 60px; */
  /* background-color: #fff; */
}

@media only screen and (max-width: 767px) {
  /* CSS code for small screens */
  .login_form {
    /* width: 200px !important; */
    width: 90% !important;
  }
}


.signin_btn{
  width: 100%;
  padding: 8px;
  background-color: #1B89FA !important;
  border: none;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.google_signin_btn{
  width: 100%;
  padding: 8px;
  background-color: #fff !important;
  /* border: none; */
  color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  border: solid 1px #A9A9A9;
}

.text-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #D3D3D3;
}

.line-text {
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #696969;
}

/* Input container */
.input-container {
  position: relative;
  /* margin: 20px; */
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  /* outline: none; */
  /* background-color: transparent; */
}

.input-field::placeholder {
  color: #696969 !important; /* Set the desired color for the placeholder text */
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  /* color: rgba(204, 204, 204, 0); */
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #1B89FA;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #1B89FA !important;
}

.input-field:focus + .input-highlight {
  width: 100%;
}


/* Hide the default checkbox */
.checkbox-container input {
  /* display: none !important; */
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #2196F300;
  border-radius: 0.25em;
  transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #1B89FA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.1em solid black;
  left: 0;
  top: 0;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.25em;
  transition: all 0.25s, border-width 0.1s;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}

.checkbox-label {
  margin-left: 3px;
  font-size: 13px;
  color: #AB9EAB;
}


/* Dashboard Styles  */
.dashboard-btn{
border: none !important;
background-color: transparent !important;
color: #fff;
font-weight: 600;
}

/* Dashboard.css */

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  
}

.custom-sidebar {
  width: 250px;
  /* background-color: #333; */
  color: white;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000; /* Ensure the sidebar is above other dashboard-content */
}

.custom-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.custom-sidebar li {
  padding: 10px;
}

.custom-sidebar a {
  color: white;
  text-decoration: none;
}

.dashboard-content {
  flex-grow: 1;
  /* padding: 20px; */
  transition: transform 0.3s ease-in-out;
  margin-left: 0;
}

/* .dashboard-container.sidebar-open .custom-sidebar {
  transform: translateX(0);
}

.dashboard-container.sidebar-open .dashboard-content {
  transform: translateX(0);
} */


.toggle-btn {
  position: absolute;
  cursor: pointer;
  top: 12px;
  left: 15px;
  z-index: 1200;
  display: none; 
  /* background: red; */
  border: none;
  font-size: 1.9rem;
  /* display: flex; */
  /* align-items: center; */
  /* height: 40px; */
}

.toggle-nav-div{
  /* margin-top: 10px; */
  /* position: relative; */
  /* border: none; */
  /* top: 10px; */
}

/* Show toggle button on small screens */
@media (max-width: 768px) {
  .custom-sidebar {
    transform: translateX(-250px);
  }
  

  .sidebar-open .custom-sidebar {
    transform: translateX(0);
  }

  .sidebar-open .dashboard-content {
    transform: translateX(0);
  }

  .toggle-btn {
    display: block;
  }
}

/* Adjust styles for screens larger than 768px if needed */
@media (min-width: 1024px) {
  .toggle-btn {
    display: none;
  }
  .dashboard-content {
      margin-left: 240px;
    }
}
